@font-face {
  font-family: "koz";
  src: url(fonts/KozGoPr6N-ExtraLight.otf) format("truetype");
}

@font-face {
  font-family: "lato";
  src: url(fonts/Lato-Light.ttf) format("truetype");
}

@font-face {
  font-family: "latoLight";
  src: url(fonts/Lato-Hairline.ttf) format("truetype");
}


body {
  font: 100% Helvetica, sans-serif;
  color: #333;
}

h1 {
  color: grey;
  font-family: 'koz';
}

h3 {
  color: grey;
  font-family: 'koz';
}

#promptInputContainer {
  display: flex;
  text-align: center;
  padding: 0 20%;
}

#dividerContainer {
  width: 20%;
}
#dividerContainer .dividingLine {
  stroke: grey;
  stroke-width: 0.5px;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
