$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

@font-face{
  font-family: 'koz';
  src: url('./fonts/KozGoPr6N-ExtraLight.otf') format("otf");
}


// body {
//   font: 100% $font-stack;
//   color: $primary-color;
// }


#root {
  position: relative;
  top: 36%;
  .app {
    div {
      .IntroText {
        #headerText {
          font-family: koz;
          color: blue;
        }
        #subheaderText{
          font-family: koz;
        }
      }
    }

    #promptInputContainer{
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      padding: 10% 20%;

      #promptText{
        width: 50%;
        text-align: right;

      }
      #dividerContainer {
        width:20%;
        .dividingLine{
          stroke: grey;
          stroke-width: .5px;
        }
      }
      form{
        text-align: left;
        width: 50%;
        input{
          display: none;
        }
      }
    }
  }
}
